marquee{
	color:#8f228f;
	font-size:100px;
}

/* Navigational bar Properties */
nav{
	height:120px;
	background-color:#ffc4ff;
}

nav ul {
	list-style-type: none;
	margin: 0;
}

nav li {
	float: left;
	padding:15px
}

nav li a {
	display: block;
	color: #8f228f;
	text-align: center;
	padding: 0px 0px;
	text-decoration: none;
	margin:30px;
	font-size: 25px;
	width:100px;
	height: 30px;
}

nav li a:hover {
	width:100px;
	height: 30px;
	border-radius:30px;
	background-color: mediumpurple;
	color:#ffc4ff;
}

#Logo{
	margin:0px;
	width:120px;
	height: 80px;
	float: left;
	display: block;
	clear:both;
}

/*buttons*/
button{
	color:#8f228f;
	background-color:#ffc4ff;
	border-color:#ffe0ff;
	font-weight:bold;
	font-size:20px;
	border-radius:30px;
	margin-right:50px;
	width:150px;
	height: 50px;
}

/*slideshow*/
.mySlides {
	display:none;
}

#area1{
	margin-left:0;
	padding:0;
	width:100%;
	height:100%;
	opacity:0.8; 
	border-radius:0
}

main{
	padding:0px;display:block;clear:both;
	background-color:#80948c;
}

/*drag and drop*/
#div1, #div2 {
  float: left;
  width: 100px;
  height: 35px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

/*colours*/
#cars {
	background-color: mediumpurple;
}

/*cookie*/
#cookiePopup {
	visibility: visible;
	background-color: white;
	position: fixed;
	font-size: 14px;
	width: 70vw;
	max-width: 42.85em;
	box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
	font-family: "Poppings", sans-serif;
	text-align: center;
	line-height: 1.8em;
	padding: 2em 1.4em;
	border-radius: 6px;
	transition: all 0.5s ease-in;
	bottom: 0;
}

#cookiePopup p{
	text-align: center;
	margin: 1.4em 0;
}

#cookiePopup button{
	color:#8f228f;
	background-color:#ffc4ff;
	border-color:#ffe0ff;
	font-weight:bold;
	font-size:30px;
	border-radius:30px;
	margin-right:50px;
	width:140px;
	height: 40px;
}

#cookiePopup button:hover {
	width:140px;
	height: 40px;
	border-radius:30px;
	background-color: mediumpurple;
	color:#ffc4ff;
}


 

